<div class="container">
    

  <div class="omb_login">
    <h3 class="omb_authTitle"> <a routerLink='/signup'>Sign up</a></h3>
  

  <div class="row omb_row-sm-offset-3 omb_loginOr">
    <div class="col-xs-12 col-sm-6">
      <hr class="omb_hrOr">
      <span class="omb_spanOr">or</span>
    </div>
  </div>

  <div class="row omb_row-sm-offset-3">
      
    <div class="col-xs-12 col-sm-6">	
        <span  *ngIf="showDialogeBox"  style="margin-top: 5px; color: red">
            <strong style="font-size: 13px;">Wrong User Details. Try Again!!</strong>
  </span>
        <form class="omb_loginForm" #loginform="ngForm" (ngSubmit)="userLogin(loginform)">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="text" class="form-control" name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" ngModel placeholder="Enter Email" required>
           
        </div>
        <span class="help-block" style="color:red;" *ngIf="email.errors?.required && email.touched">
          Email is required!!
   </span> 
       <span class="help-block" style="color: red;" *ngIf="email.errors?.pattern && email.touched">
              Email is incorrect!!
       </span>
        <span class="help-block"></span>
                  
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input  type="password" class="form-control" name="password" #password="ngModel" ngModel placeholder="Enter Your Password" required>
          
        </div>
        <span class="help-block" style="color: red;" *ngIf="password.errors?.required && password.touched">
          Password is required!! 
   </span>
                  <span class="help-block" ></span>

        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginform.invalid">Login</button>
      </form>
    </div>
    </div>
</div>



      </div>
      